<launch>

<arg name="trained_ubc_xml_path" default="/usr/local/share/OpenCV/haarcascades/haarcascade_mcs_upperbody.xml" />

<!--<include file="$(find openni_launch)/launch/openni.launch"/>-->
<node name="upperbody_detector" pkg="upperbody_detector" type="upperbody_detector">
	<param name="trained_ubc_xml_path" value="$(arg trained_ubc_xml_path)"/>
</node>

</launch>